USE [master]
GO
/****** Object:  Database [Patuh]    Script Date: 6/1/2018 3:32:03 PM ******/
CREATE DATABASE [Patuh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Patuh', FILENAME = N'D:\Database\Patuh.mdf' , SIZE = 17408KB , MAXSIZE = 153600KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Patuh_log', FILENAME = N'D:\Database\Patuh.ldf' , SIZE = 123648KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Patuh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Patuh]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogID] [int] IDENTITY(1,1) NOT NULL,
	[TsLog] [datetime] NOT NULL,
	[PageName] [varchar](200) NOT NULL,
	[ErrorMessage] [varchar](8000) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[IPAddress] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ErrorLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsMenu]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsMenu](
	[ModuleID] [varchar](5) NOT NULL,
	[PageID] [varchar](5) NOT NULL,
	[MenuID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[Seq] [int] NOT NULL,
	[MenuText] [varchar](50) NOT NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL DEFAULT ('Y'),
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsMobileUserProfile]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsMobileUserProfile](
	[UserID] [varchar](100) NOT NULL,
	[Pwd] [varchar](50) NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[UserAccountType] [varchar](20) NULL,
	[FullName] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[Location] [varchar](20) NULL,
	[PhoneNo] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[cCreated] [varchar](10) NULL,
	[dCreated] [datetime] NULL,
	[cLastUpdated] [varchar](20) NULL,
	[dLastUpdated] [datetime] NULL,
 CONSTRAINT [PK_MsMobileUserProfile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsModule]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsModule](
	[ModuleID] [varchar](5) NOT NULL,
	[ModuleDesc] [varchar](50) NOT NULL,
	[Info1] [varchar](100) NULL,
	[Info2] [varchar](100) NULL,
	[Info3] [varchar](100) NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL DEFAULT ('Y'),
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsPage]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsPage](
	[ModuleID] [varchar](5) NOT NULL,
	[PageID] [varchar](5) NOT NULL,
	[PageName] [varchar](30) NOT NULL,
	[PageDesc] [varchar](50) NOT NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL DEFAULT ('Y'),
PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsSerial]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsSerial](
	[SerialID] [varchar](50) NOT NULL,
	[SerialDesc] [nvarchar](255) NOT NULL,
	[Remark] [varchar](250) NOT NULL,
	[SerialLength] [int] NOT NULL CONSTRAINT [DF_MsSerial_SerialLength]  DEFAULT ((7)),
	[StartNum] [int] NOT NULL CONSTRAINT [DF_MsSerial_StartNum]  DEFAULT ((1)),
	[EndNum] [int] NOT NULL CONSTRAINT [DF_MsSerial_EndNum]  DEFAULT ((9999999)),
	[CurrentNum] [int] NOT NULL CONSTRAINT [DF_MsSerial_CurrentNum]  DEFAULT ((1)),
	[TsCrt] [datetime] NOT NULL,
	[CrtUsrID] [varchar](50) NOT NULL,
	[TsMod] [datetime] NOT NULL,
	[ModUsrID] [varchar](50) NOT NULL,
	[ActiveFlag] [char](1) NOT NULL,
 CONSTRAINT [PK_MsSerial] PRIMARY KEY CLUSTERED 
(
	[SerialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsUser]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsUser](
	[ModuleID] [varchar](5) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
	[UserRoleID] [varchar](20) NOT NULL,
	[Area] [varchar](4) NOT NULL,
	[Pwd] [varchar](50) NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[FullName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Info1] [varchar](100) NULL,
	[Info2] [varchar](100) NULL,
	[Info3] [varchar](100) NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL CONSTRAINT [DF__MsUser__TsCrt__3E52440B]  DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL CONSTRAINT [DF__MsUser__TsMod__3F466844]  DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL CONSTRAINT [DF__MsUser__ActiveFl__403A8C7D]  DEFAULT ('Y'),
 CONSTRAINT [PK__MsUser__9E714707BF54A150] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC,
	[UserID] ASC,
	[UserRoleID] ASC,
	[Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsUserRole]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsUserRole](
	[ModuleID] [varchar](5) NOT NULL,
	[UserRoleID] [varchar](20) NOT NULL,
	[UserRoleDesc] [varchar](50) NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL DEFAULT ('Y'),
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MsUserRoleAccess]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MsUserRoleAccess](
	[AccessID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleID] [varchar](20) NOT NULL,
	[PageID] [varchar](5) NOT NULL,
	[CrtUsrID] [varchar](20) NOT NULL,
	[TsCrt] [datetime] NOT NULL DEFAULT (getdate()),
	[ModUsrID] [varchar](20) NULL,
	[TsMod] [datetime] NULL DEFAULT (getdate()),
	[ActiveFlag] [char](1) NOT NULL DEFAULT ('Y'),
PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserActivityLog]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserActivityLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TsLog] [datetime] NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[FormName] [varchar](50) NOT NULL,
	[DocumentNo] [varchar](50) NOT NULL,
	[DocumentStatus] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[ErrorMessage] [varchar](2000) NOT NULL,
	[Remark] [varchar](1000) NOT NULL,
	[DebuggerID] [varchar](20) NOT NULL,
	[WindowsLogin] [varchar](30) NOT NULL,
	[AppType] [varchar](50) NOT NULL,
	[AppVersion] [varchar](15) NOT NULL,
	[ApplicationMode] [varchar](1) NOT NULL,
	[IPAddress] [varchar](16) NOT NULL,
	[DeviceID] [varchar](30) NOT NULL,
	[WebBrowser] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserActivityLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MsMenu]  WITH CHECK ADD  CONSTRAINT [FK_Module_Menu[OneToMany]]] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[MsModule] ([ModuleID])
GO
ALTER TABLE [dbo].[MsMenu] CHECK CONSTRAINT [FK_Module_Menu[OneToMany]]]
GO
ALTER TABLE [dbo].[MsMenu]  WITH CHECK ADD  CONSTRAINT [FK_Page_Menu[OneToMany]]] FOREIGN KEY([PageID])
REFERENCES [dbo].[MsPage] ([PageID])
GO
ALTER TABLE [dbo].[MsMenu] CHECK CONSTRAINT [FK_Page_Menu[OneToMany]]]
GO
ALTER TABLE [dbo].[MsPage]  WITH CHECK ADD  CONSTRAINT [FK_Module_Page[OneToMany]]] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[MsModule] ([ModuleID])
GO
ALTER TABLE [dbo].[MsPage] CHECK CONSTRAINT [FK_Module_Page[OneToMany]]]
GO
ALTER TABLE [dbo].[MsUser]  WITH CHECK ADD  CONSTRAINT [FK_Module_User[OneToMany]]] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[MsModule] ([ModuleID])
GO
ALTER TABLE [dbo].[MsUser] CHECK CONSTRAINT [FK_Module_User[OneToMany]]]
GO
ALTER TABLE [dbo].[MsUser]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User[OneToMany]]] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[MsUserRole] ([UserRoleID])
GO
ALTER TABLE [dbo].[MsUser] CHECK CONSTRAINT [FK_UserRole_User[OneToMany]]]
GO
ALTER TABLE [dbo].[MsUserRole]  WITH CHECK ADD  CONSTRAINT [FK_Module_UserRole[OneToMany]]] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[MsModule] ([ModuleID])
GO
ALTER TABLE [dbo].[MsUserRole] CHECK CONSTRAINT [FK_Module_UserRole[OneToMany]]]
GO
ALTER TABLE [dbo].[MsUserRoleAccess]  WITH CHECK ADD  CONSTRAINT [FK_Module_UserRoleAccess[OneToMany]]] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[MsUserRole] ([UserRoleID])
GO
ALTER TABLE [dbo].[MsUserRoleAccess] CHECK CONSTRAINT [FK_Module_UserRoleAccess[OneToMany]]]
GO
ALTER TABLE [dbo].[MsUserRoleAccess]  WITH CHECK ADD  CONSTRAINT [FK_Page_UserRoleAccess[OneToMany]]] FOREIGN KEY([PageID])
REFERENCES [dbo].[MsPage] ([PageID])
GO
ALTER TABLE [dbo].[MsUserRoleAccess] CHECK CONSTRAINT [FK_Page_UserRoleAccess[OneToMany]]]
GO
/****** Object:  StoredProcedure [dbo].[dto_GetMenu]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[dto_GetMenu]
(
@UserID varchar(20)
)
with execute as caller
as
begin
set nocount on;

select a.MenuID,a.ParentID,a.Seq,a.MenuText,b.PageName from MsMenu a
inner join MsPage b on a.ModuleID = b.ModuleID and a.PageID = b.PageID
inner join MsUserRoleAccess c on b.PageID = c.PageID
inner join MsUser d on c.UserRoleID = d.UserRoleID
where d.UserID = @UserID and a.ActiveFlag = 'Y' and b.ActiveFlag = 'Y' and c.ActiveFlag = 'Y' and d.ActiveFlag = 'Y'
order by menuid,ParentID,seq;

end

GO
/****** Object:  StoredProcedure [dbo].[dto_GetOrderPaging]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dto_GetOrderPaging]    
(    
@Where nvarchar(255) = '',    
@OrderBy nvarchar(255) = '',    
@Start int = 0,    
@Limit int = 0    
)    
WITH EXECUTE AS CALLER    
AS    
BEGIN    
SET NOCOUNT ON;    
    
DECLARE @TOP int;    
DECLARE @SQL nvarchar(max);    
    
SET @TOP = @Start + @Limit;    
SET @Start = @Start + 1;    
    
IF(@OrderBy = '')    
BEGIN    
 SET @OrderBy = '[OrderID]';    
END    
    
SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(    
   SELECT    
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber    
      ,[OrderID]    
      ,Ord.[CustomerID]    
   ,Cus.CompanyName    
      ,[EmployeeID]    
      ,[OrderDate]    
      ,[ShipName]    
      ,[ShipAddress]    
      ,Ord.[CrtUsrID]    
      ,Ord.[TsCrt]    
      ,Ord.[ModUsrID]    
      ,Ord.[TsMod]    
      ,Ord.[ActiveFlag]    
  FROM [dbo].[Order] Ord    
  INNER JOIN [dbo].[Customers] Cus On Cus.CustomerID=Ord.CustomerID';    
    
IF(@Where <> '')    
BEGIN    
 SET @Where = N' WHERE ' + @Where;    
 SET @SQL = @SQL + @Where;    
END    
    
SET @SQL = @SQL + char(13) + N'),';    
    
IF(@TOP <> 0)    
BEGIN    
 SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(    
    SELECT * FROM SQLQUERY,    
    (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')    
    
 SELECT * FROM     
 SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);    
END    
ELSE    
BEGIN    
 SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(    
 SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';    
END    
    
print(@sql)    
EXEC sp_executesql @SQL;    
END 

GO
/****** Object:  StoredProcedure [dbo].[dto_HeaderDetailInfo]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [dbo].[dto_HeaderDetailInfo]
(
@headerid integer
)
with execute as caller
as
begin
set nocount on;

select h.[HeaderID]
      ,[HeaderDesc]
      ,h.[Value]
      ,[Category]
      ,[Hobby]
	  ,d.[Value] as Detailvalue
	  ,d.tscrt as DetailCreated
	    ,d.tsmod as DetailModified
from  [dbo].[HeaderData] h
inner join DetailData d on h.headerid = d.headerid
where h.headerid = @headerid;

end

GO
/****** Object:  StoredProcedure [dbo].[dto_HeaderDetailInfo2]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
Create procedure [dbo].[dto_HeaderDetailInfo2]
(
@headerid integer
)
with execute as caller
as
begin
set nocount on;

select h.[HeaderID]
      ,[HeaderDesc]
      ,h.[Value]
 from  [dbo].[HeaderData] h
inner join DetailData d on h.headerid = d.headerid
where h.headerid = @headerid;

end

GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDemo]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteDemo]
(
@DEMOID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDemo2]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteDemo2]
(
@DEMOID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo2]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDemo3]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteDemo3]
(
@DEMOID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo3]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDemo4]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteDemo4]
(
@DEMOID VarChar(10),
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo4]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDemo5]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteDemo5]
(
@DEMOID VarChar(10),
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo5]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteDetailData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_DeleteDetailData]
(
@DETAILID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE	[dbo].[DetailData]
SET
[ACTIVEFLAG] = 'N',
[MODUSRID] = @MODUSRID, 
[TSMOD] = getdate() 
WHERE
[DETAILID] = @DETAILID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteEmployee]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteEmployee]
(
@IDEMPLOYEE VarChar(10),
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Employee]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[IDEMPLOYEE] = @IDEMPLOYEE

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteHeaderData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteHeaderData]
(
@HEADERID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[HeaderData]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[HEADERID] = @HEADERID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteMsSample]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteMsSample]
(
@SAMPLEID Int,
@MODUSRID VarChar(50)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsSample]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[SAMPLEID] = @SAMPLEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteMsSerial]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteMsSerial]
(
@SERIALID VarChar(50),
@MODUSRID VarChar(50)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsSerial]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[SERIALID] = @SERIALID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteMsUser]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteMsUser]
(
@MODULEID VarChar(5),
@USERID VarChar(10),
@USERROLEID VarChar(20),
@AREA VarChar(4),
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsUser]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[MODULEID] = @MODULEID
AND [USERID] = @USERID
AND [USERROLEID] = @USERROLEID
AND [AREA] = @AREA

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteMsUserRole]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteMsUserRole]
(
@USERROLEID VarChar(20),
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsUserRole]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[USERROLEID] = @USERROLEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteOrder]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteOrder]
(
@ORDERID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Order]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[ORDERID] = @ORDERID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteProvince]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteProvince]
(
@PROVINCEID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Province]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[PROVINCEID] = @PROVINCEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_DeleteTEMP]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_DeleteTEMP]
(
@ID Int,
@MODUSRID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[TEMP]
SET
ActiveFlag = 'N',
MODUSRID = @MODUSRID, 
TsMod = getdate()
WHERE
[ID] = @ID

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertCountry]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertCountry]
(
@COUNTRYID VarChar(10),
@COUNTRYNAME VarChar(255),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Country
VALUES
(
@COUNTRYID,
@COUNTRYNAME,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDemo]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertDemo]
(
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TEST VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Demo
VALUES
(
@NAME,
@DESCRIPTION,
@NEWKOLOM,
@TEST,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDemo2]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertDemo2]
(
@DEMOID Int,
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TESTKOLOM VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].[Demo2]
VALUES
(
@DEMOID,
@NAME,
@DESCRIPTION,
@NEWKOLOM,
@TESTKOLOM,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDemo3]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertDemo3]
(
@DEMOID Int,
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TEST VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].[Demo3]
VALUES
(
@DEMOID,
@NAME,
@DESCRIPTION,
@NEWKOLOM,
@TEST,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDemo4]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertDemo4]
(
@DEMOID VarChar(10),
@FULLNAME VarChar(50),
@GENDER Char(1),
@DESCRIPTION VarChar(100),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Demo4
VALUES
(
@DEMOID,
@FULLNAME,
@GENDER,
@DESCRIPTION,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDemo5]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertDemo5]
(
@DEMOID VarChar(10),
@FULLNAME VarChar(50),
@TANGGAL DateTime,
@GENDER Char(1),
@DESCRIPTION VarChar(100),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Demo5
VALUES
(
@DEMOID,
@FULLNAME,
@TANGGAL,
@GENDER,
@DESCRIPTION,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertDetailData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_InsertDetailData]
(
@HEADERID Int,
@VALUE VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

INSERT INTO [dbo].[DetailData]
VALUES
(
@HEADERID,
@VALUE,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG
);

SELECT SCOPE_IDENTITY();
END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertEmployee]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertEmployee]
(
@IDEMPLOYEE VarChar(10),
@FULLNAME VarChar(50),
@FIRSTNAME VarChar(50),
@LASTNAME VarChar(50),
@DESCRIPTION VarChar(100),
@DATAINT Int,
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Employee
VALUES
(
@IDEMPLOYEE,
@FULLNAME,
@FIRSTNAME,
@LASTNAME,
@DESCRIPTION,
@DATAINT,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertHeaderData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertHeaderData]
(
@HEADERID Int,
@HEADERDESC VarChar(50),
@VALUE VarChar(50),
@CATEGORY VarChar(1),
@HOBBY VarChar(100),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].HeaderData
VALUES
(
@HEADERID,
@HEADERDESC,
@VALUE,
@CATEGORY,
@HOBBY,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertMsSample]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertMsSample]
(
@SAMPLENAME VarChar(50),
@INFO1 VarChar(20),
@VALUE1 Decimal(12,2),
@VALUE2 Decimal(12,2),
@CRTUSRID VarChar(50),
@MODUSRID VarChar(50),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].MsSample
VALUES
(
@SAMPLENAME,
@INFO1,
@VALUE1,
@VALUE2,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertMsSerial]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertMsSerial]
(
@SERIALID VarChar(50),
@SERIALDESC NVarChar(510),
@REMARK VarChar(250),
@SERIALLENGTH Int,
@STARTNUM Int,
@ENDNUM Int,
@CURRENTNUM Int,
@CRTUSRID VarChar(50),
@MODUSRID VarChar(50),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].MsSerial
VALUES
(
@SERIALID,
@SERIALDESC,
@REMARK,
@SERIALLENGTH,
@STARTNUM,
@ENDNUM,
@CURRENTNUM,
getdate(),
@CRTUSRID,
getdate(),
@MODUSRID,
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertMsUser]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertMsUser]
(
@MODULEID VarChar(5),
@USERID VarChar(10),
@USERROLEID VarChar(20),
@AREA VarChar(4),
@FULLNAME VarChar(100),
@EMAIL VarChar(100),
@INFO1 VarChar(100),
@INFO2 VarChar(100),
@INFO3 VarChar(100),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].MsUser
VALUES
(
@MODULEID,
@USERID,
@USERROLEID,
@AREA,
@FULLNAME,
@EMAIL,
@INFO1,
@INFO2,
@INFO3,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertMsUserRole]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertMsUserRole]
(
@MODULEID VarChar(5),
@USERROLEID VarChar(20),
@USERROLEDESC VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].MsUserRole
VALUES
(
@MODULEID,
@USERROLEID,
@USERROLEDESC,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertOrder]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertOrder]
(
@ORDERID Int,
@CUSTOMERID NVarChar(10),
@EMPLOYEEID Int,
@ORDERDATE DateTime,
@SHIPNAME NVarChar(80),
@SHIPADDRESS NVarChar(120),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].[Order]
VALUES
(
@ORDERID,
@CUSTOMERID,
@EMPLOYEEID,
@ORDERDATE,
@SHIPNAME,
@SHIPADDRESS,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertProvince]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertProvince]
(
@PROVINCEID Int,
@COUNTRYID NVarChar(10),
@PROVINCENAME NVarChar(510),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].Province
VALUES
(
@PROVINCEID,
@COUNTRYID,
@PROVINCENAME,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertTEMP]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_InsertTEMP]
(
@NAME VarChar(50),
@CRTUSRID VarChar(20),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].[TEMP]
VALUES
(
@NAME,
@CRTUSRID,
getdate(),
@MODUSRID,
getdate(),
@ACTIVEFLAG)
Select SCOPE_IDENTITY()

END


GO
/****** Object:  StoredProcedure [dbo].[up_InsertUserActivityLog]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Wednesday,12-10-2016
-- Created By	: ADD by using Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_InsertUserActivityLog]

@USERID varchar(20),
@ACTION varchar(50),
@FORMNAME varchar(50),
@DOCUMENTNO varchar(50),
@DOCUMENTSTATUS varchar(50),
@DESCRIPTION varchar(500),
@ERRORMESSAGE varchar(2000),
@REMARK varchar(1000),
@DEBUGGERID varchar(20),
@WINDOWSLOGIN varchar(30),
@APPTYPE varchar(50),
@APPVERSION varchar(15),
@APPLICATIONMODE varchar(1),
@IPADDRESS varchar(16),
@DEVICEID varchar(30),
@WEBBROWSER varchar(50)
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
INSERT INTO [dbo].UserActivityLog
VALUES
(	getdate()
	,@USERID
	,@ACTION
	,@FORMNAME
	,isnull(@DOCUMENTNO,'-')
	,isnull(@DOCUMENTSTATUS,'-')
	,@DESCRIPTION
	,isnull(@ERRORMESSAGE,'-')
	,isnull(@REMARK,'-')
	,isnull(@DEBUGGERID,'-')
	,isnull(@WINDOWSLOGIN,'-')
	,@APPTYPE
	,@APPVERSION
	,@APPLICATIONMODE
	,@IPADDRESS
	,isnull(@DEVICEID,'-')
	,isnull(@WEBBROWSER,'-')
) 




GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveCountry]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveCountry]
(
@COUNTRYID VarChar(10)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [COUNTRYID]
	, [COUNTRYNAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Country]
WHERE ActiveFlag = 'Y'
AND [COUNTRYID] = @COUNTRYID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveCountryList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveCountryList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [COUNTRYID]
	, [COUNTRYNAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Country]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveCountryListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveCountryListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'CountryID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [COUNTRYID],
   [COUNTRYNAME],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Country]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo]
(
@DEMOID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TEST]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo]
WHERE ActiveFlag = 'Y'
AND [DEMOID] = @DEMOID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo2]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo2]
(
@DEMOID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TESTKOLOM]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo2]
WHERE ActiveFlag = 'Y'
AND [DEMOID] = @DEMOID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo2List]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo2List]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TESTKOLOM]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo2]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo2ListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo2ListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DemoID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DEMOID],
   [NAME],
   [DESCRIPTION],
   [NEWKOLOM],
   [TESTKOLOM],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Demo2]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo3]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo3]
(
@DEMOID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TEST]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo3]
WHERE ActiveFlag = 'Y'
AND [DEMOID] = @DEMOID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo3List]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo3List]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TEST]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo3]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo3ListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo3ListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DemoID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DEMOID],
   [NAME],
   [DESCRIPTION],
   [NEWKOLOM],
   [TEST],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Demo3]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo4]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo4]
(
@DEMOID VarChar(10)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [FULLNAME]
	, [GENDER]
	, [DESCRIPTION]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo4]
WHERE ActiveFlag = 'Y'
AND [DEMOID] = @DEMOID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo4List]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo4List]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [FULLNAME]
	, [GENDER]
	, [DESCRIPTION]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo4]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo4ListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo4ListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DemoID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DEMOID],
   [FULLNAME],
   [GENDER],
   [DESCRIPTION],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Demo4]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
	SET @SQL = @SQL + @Where;
END

SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo5]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo5]
(
@DEMOID VarChar(10)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [FULLNAME]
	, [TANGGAL]
	, [GENDER]
	, [DESCRIPTION]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo5]
WHERE ActiveFlag = 'Y'
AND [DEMOID] = @DEMOID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo5List]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo5List]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [FULLNAME]
	, [TANGGAL]
	, [GENDER]
	, [DESCRIPTION]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo5]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemo5ListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemo5ListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DemoID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DEMOID],
   [FULLNAME],
   [TANGGAL],
   [GENDER],
   [DESCRIPTION],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Demo5]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemoList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemoList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [DEMOID]
	, [NAME]
	, [DESCRIPTION]
	, [NEWKOLOM]
	, [TEST]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Demo]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDemoListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveDemoListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DemoID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DEMOID],
   [NAME],
   [DESCRIPTION],
   [NEWKOLOM],
   [TEST],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Demo]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDetailData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_RetrieveDetailData]
(
@DETAILID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON;

SELECT
	[DETAILID],
	[HEADERID],
	[VALUE],
	[CRTUSRID],
	[TSCRT],
	[MODUSRID],
	[TSMOD],
	[ACTIVEFLAG]
FROM [dbo].[DetailData]
WHERE 1=1
AND [DETAILID] = @DETAILID

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDetailDataByHeaderId]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Tuesday,14-11-2017
-- Created By	: ADD by using Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_RetrieveDetailDataByHeaderId]

@HeaderId int

AS

SET NOCOUNT ON
SELECT
	 [DETAILID]
	, [HEADERID]
	, [VALUE] 
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[DetailData]
WHERE ActiveFlag = 'Y'
AND [HEADERID] = @HeaderId




GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDetailDataList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_RetrieveDetailDataList]
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON;

SELECT
	[DETAILID],
	[HEADERID],
	[VALUE],
	[CRTUSRID],
	[TSCRT],
	[MODUSRID],
	[TSMOD],
	[ACTIVEFLAG]
FROM [dbo].[DetailData]
WHERE ActiveFlag = 'Y'
END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveDetailDataListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_RetrieveDetailDataListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'DetailID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [DETAILID],
   [HEADERID],
   [VALUE],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[DetailData]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;
END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveEmployee]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveEmployee]
(
@IDEMPLOYEE VarChar(10)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [IDEMPLOYEE]
	, [FULLNAME]
	, [FIRSTNAME]
	, [LASTNAME]
	, [DESCRIPTION]
	, [DATAINT]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Employee]
WHERE ActiveFlag = 'Y'
AND [IDEMPLOYEE] = @IDEMPLOYEE


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveEmployeeByDataint]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[up_RetrieveEmployeeByDataint]

@DataInt int

AS

SET NOCOUNT ON
SELECT
	 [IDEMPLOYEE]
	, [FULLNAME]
	, [FIRSTNAME]
	, [LASTNAME]
	, [DESCRIPTION]
	, [DATAINT]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Employee]
WHERE ActiveFlag = 'Y'
AND [DataInt] = @DataInt





GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveEmployeeList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveEmployeeList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [IDEMPLOYEE]
	, [FULLNAME]
	, [FIRSTNAME]
	, [LASTNAME]
	, [DESCRIPTION]
	, [DATAINT]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Employee]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveEmployeeListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveEmployeeListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'IDEmployee';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [IDEMPLOYEE],
   [FULLNAME],
   [FIRSTNAME],
   [LASTNAME],
   [DESCRIPTION],
   [DATAINT],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Employee]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveHeaderData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveHeaderData]
(
@HEADERID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [HEADERID]
	, [HEADERDESC]
	, [VALUE]
	, [CATEGORY]
	, [HOBBY]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[HeaderData]
WHERE ActiveFlag = 'Y'
AND [HEADERID] = @HEADERID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveHeaderDataList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveHeaderDataList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [HEADERID]
	, [HEADERDESC]
	, [VALUE]
	, [CATEGORY]
	, [HOBBY]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[HeaderData]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveHeaderDataListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveHeaderDataListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'HeaderID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [HEADERID],
   [HEADERDESC],
   [VALUE],
   [CATEGORY],
   [HOBBY],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[HeaderData]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSample]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSample]
(
@SAMPLEID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [SAMPLEID]
	, [SAMPLENAME]
	, [INFO1]
	, [VALUE1]
	, [VALUE2]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsSample]
WHERE ActiveFlag = 'Y'
AND [SAMPLEID] = @SAMPLEID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSampleList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSampleList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [SAMPLEID]
	, [SAMPLENAME]
	, [INFO1]
	, [VALUE1]
	, [VALUE2]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsSample]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSampleListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSampleListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'SampleID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [SAMPLEID],
   [SAMPLENAME],
   [INFO1],
   [VALUE1],
   [VALUE2],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[MsSample]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSerial]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSerial]
(
@SERIALID VarChar(50)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [SERIALID]
	, [SERIALDESC]
	, [REMARK]
	, [SERIALLENGTH]
	, [STARTNUM]
	, [ENDNUM]
	, [CURRENTNUM]
	, [TSCRT]
	, [CRTUSRID]
	, [TSMOD]
	, [MODUSRID]
	, [ACTIVEFLAG]
FROM	[dbo].[MsSerial]
WHERE ActiveFlag = 'Y'
AND [SERIALID] = @SERIALID

update MsSerial set [CURRENTNUM] = [CURRENTNUM]+1
where ActiveFlag = 'Y'
AND [SERIALID] = @SERIALID

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSerialList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSerialList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [SERIALID]
	, [SERIALDESC]
	, [REMARK]
	, [SERIALLENGTH]
	, [STARTNUM]
	, [ENDNUM]
	, [CURRENTNUM]
	, [TSCRT]
	, [CRTUSRID]
	, [TSMOD]
	, [MODUSRID]
	, [ACTIVEFLAG]
FROM	[dbo].[MsSerial]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsSerialListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsSerialListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'SerialID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [SERIALID],
   [SERIALDESC],
   [REMARK],
   [SERIALLENGTH],
   [STARTNUM],
   [ENDNUM],
   [CURRENTNUM],
   [TSCRT],
   [CRTUSRID],
   [TSMOD],
   [MODUSRID],
   [ACTIVEFLAG]
   FROM dbo.[MsSerial]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUser]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUser]
(
@MODULEID VarChar(5),
@USERID VarChar(10),
@USERROLEID VarChar(20),
@AREA VarChar(4)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [MODULEID]
	, [USERID]
	, [USERROLEID]
	, [AREA]
	, [FULLNAME]
	, [EMAIL]
	, [INFO1]
	, [INFO2]
	, [INFO3]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsUser]
WHERE ActiveFlag = 'Y'
AND [MODULEID] = @MODULEID
AND [USERID] = @USERID
AND [USERROLEID] = @USERROLEID
AND [AREA] = @AREA


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUserList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUserList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [MODULEID]
	, [USERID]
	, [USERROLEID]
	, [AREA]
	, [FULLNAME]
	, [EMAIL]
	, [INFO1]
	, [INFO2]
	, [INFO3]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsUser]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUserListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUserListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'ModuleID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [MODULEID],
   [USERID],
   [USERROLEID],
   [AREA],
   [FULLNAME],
   [EMAIL],
   [INFO1],
   [INFO2],
   [INFO3],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[MsUser]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
	SET @SQL = @SQL + @Where;
END

SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUserRole]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUserRole]
(
@USERROLEID VarChar(20)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [MODULEID]
	, [USERROLEID]
	, [USERROLEDESC]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsUserRole]
WHERE ActiveFlag = 'Y'
AND [USERROLEID] = @USERROLEID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUserRoleList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUserRoleList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [MODULEID]
	, [USERROLEID]
	, [USERROLEDESC]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[MsUserRole]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveMsUserRoleListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveMsUserRoleListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'UserRoleID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [MODULEID],
   [USERROLEID],
   [USERROLEDESC],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[MsUserRole]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
	SET @SQL = @SQL + @Where;
END

SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveOrder]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveOrder]
(
@ORDERID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [ORDERID]
	, [CUSTOMERID]
	, [EMPLOYEEID]
	, [ORDERDATE]
	, [SHIPNAME]
	, [SHIPADDRESS]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Order]
WHERE ActiveFlag = 'Y'
AND [ORDERID] = @ORDERID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveOrderList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveOrderList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [ORDERID]
	, [CUSTOMERID]
	, [EMPLOYEEID]
	, [ORDERDATE]
	, [SHIPNAME]
	, [SHIPADDRESS]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Order]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveOrderListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveOrderListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'OrderID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [ORDERID],
   [CUSTOMERID],
   [EMPLOYEEID],
   [ORDERDATE],
   [SHIPNAME],
   [SHIPADDRESS],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Order]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveProvince]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveProvince]
(
@PROVINCEID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [PROVINCEID]
	, [COUNTRYID]
	, [PROVINCENAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Province]
WHERE ActiveFlag = 'Y'
AND [PROVINCEID] = @PROVINCEID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveProvinceList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveProvinceList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [PROVINCEID]
	, [COUNTRYID]
	, [PROVINCENAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[Province]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveProvinceListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveProvinceListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'ProvinceID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [PROVINCEID],
   [COUNTRYID],
   [PROVINCENAME],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[Province]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveTEMP]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveTEMP]
(
@ID Int
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [ID]
	, [NAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[TEMP]
WHERE ActiveFlag = 'Y'
AND [ID] = @ID


END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveTEMPList]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveTEMPList]
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SELECT
	 [ID]
	, [NAME]
	, [CRTUSRID]
	, [TSCRT]
	, [MODUSRID]
	, [TSMOD]
	, [ACTIVEFLAG]
FROM	[dbo].[TEMP]
WHERE ActiveFlag = 'Y'

END


GO
/****** Object:  StoredProcedure [dbo].[up_RetrieveTEMPListCustom]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_RetrieveTEMPListCustom]
(
@Where nvarchar(255) = '',
@OrderBy nvarchar(255) = '',
@Start int = 0,
@Limit int = 0
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON;

DECLARE @TOP int;
DECLARE @SQL nvarchar(max);

SET @TOP = @Start + @Limit;
SET @Start = @Start + 1;

IF(@OrderBy = '')
BEGIN
	SET @OrderBy = 'ID';
END

SET @SQL = N'WITH SQLQUERY AS' + char(13) + '(
   SELECT
   ROW_NUMBER() OVER(ORDER BY ' + @OrderBy + ') RowNumber,
   [ID],
   [NAME],
   [CRTUSRID],
   [TSCRT],
   [MODUSRID],
   [TSMOD],
   [ACTIVEFLAG]
   FROM dbo.[TEMP]';

IF(@Where <> '')
BEGIN
	SET @Where = N' WHERE ' + @Where;
END
ELSE
BEGIN
	SET @Where = N' WHERE ACTIVEFLAG = ''Y''';
END

SET @SQL = @SQL + @Where;
SET @SQL = @SQL + char(13) + N'),';

IF(@TOP <> 0)
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13)+ '(
	   SELECT * FROM SQLQUERY,
	   (SELECT MAX(RowNumber) AS TotalRecord FROM SQLQUERY) AS RC'+ char(13) +')

	SELECT * FROM 
	SQLQUERYTotal WHERE RowNumber BETWEEN ' + CAST(@Start AS VARCHAR) + ' AND '  + CAST(@TOP  AS VARCHAR);
END
ELSE
BEGIN
	SET @SQL = @SQL + char(13) + N'SQLQUERYTotal AS'+ char(13) +'(
	SELECT * FROM SQLQUERY'+ char(13) +')'+ char(13) +N'SELECT * FROM SQLQUERYTotal;';
END

--print(@sql)
EXEC sp_executesql @SQL;

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateCountry]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateCountry]
(
@COUNTRYID VarChar(10),
@COUNTRYNAME VarChar(255),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Country]
SET
COUNTRYNAME = @COUNTRYNAME,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[COUNTRYID] = @COUNTRYID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDemo]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateDemo]
(
@DEMOID Int,
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TEST VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo]
SET
NAME = @NAME,
DESCRIPTION = @DESCRIPTION,
NEWKOLOM = @NEWKOLOM,
TEST = @TEST,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDemo2]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateDemo2]
(
@DEMOID Int,
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TESTKOLOM VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo2]
SET
NAME = @NAME,
DESCRIPTION = @DESCRIPTION,
NEWKOLOM = @NEWKOLOM,
TESTKOLOM = @TESTKOLOM,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDemo3]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateDemo3]
(
@DEMOID Int,
@NAME VarChar(50),
@DESCRIPTION VarChar(1000),
@NEWKOLOM Int,
@TEST VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo3]
SET
NAME = @NAME,
DESCRIPTION = @DESCRIPTION,
NEWKOLOM = @NEWKOLOM,
TEST = @TEST,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDemo4]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateDemo4]
(
@DEMOID VarChar(10),
@FULLNAME VarChar(50),
@GENDER Char(1),
@DESCRIPTION VarChar(100),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo4]
SET
FULLNAME = @FULLNAME,
GENDER = @GENDER,
DESCRIPTION = @DESCRIPTION,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDemo5]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateDemo5]
(
@DEMOID VarChar(10),
@FULLNAME VarChar(50),
@TANGGAL DateTime,
@GENDER Char(1),
@DESCRIPTION VarChar(100),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Demo5]
SET
FULLNAME = @FULLNAME,
TANGGAL = @TANGGAL,
GENDER = @GENDER,
DESCRIPTION = @DESCRIPTION,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[DEMOID] = @DEMOID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateDetailData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------
-- Date Created	: Monday,26-03-2018
-- Created By	: APP .NET Class Generator
-- Rev History	:
---------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[up_UpdateDetailData]
(
@DETAILID Int,
@HEADERID Int,
@VALUE VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN
SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE	[dbo].[DetailData]
SET
[HEADERID] = @HEADERID,
[VALUE] = @VALUE,
[MODUSRID] = @MODUSRID,
[TSMOD] = getdate(),
[ACTIVEFLAG] = @ACTIVEFLAG
WHERE
[DETAILID] = @DETAILID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateEmployee]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateEmployee]
(
@IDEMPLOYEE VarChar(10),
@FULLNAME VarChar(50),
@FIRSTNAME VarChar(50),
@LASTNAME VarChar(50),
@DESCRIPTION VarChar(100),
@DATAINT Int,
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Employee]
SET
FULLNAME = @FULLNAME,
FIRSTNAME = @FIRSTNAME,
LASTNAME = @LASTNAME,
DESCRIPTION = @DESCRIPTION,
DATAINT = @DATAINT,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[IDEMPLOYEE] = @IDEMPLOYEE

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateHeaderData]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateHeaderData]
(
@HEADERID Int,
@HEADERDESC VarChar(50),
@VALUE VarChar(50),
@CATEGORY VarChar(1),
@HOBBY VarChar(100),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[HeaderData]
SET
HEADERDESC = @HEADERDESC,
VALUE = @VALUE,
CATEGORY = @CATEGORY,
HOBBY = @HOBBY,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[HEADERID] = @HEADERID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateMsSample]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateMsSample]
(
@SAMPLEID Int,
@SAMPLENAME VarChar(50),
@INFO1 VarChar(20),
@VALUE1 Decimal(12,2),
@VALUE2 Decimal(12,2),
@MODUSRID VarChar(50),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsSample]
SET
SAMPLENAME = @SAMPLENAME,
INFO1 = @INFO1,
VALUE1 = @VALUE1,
VALUE2 = @VALUE2,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[SAMPLEID] = @SAMPLEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateMsSerial]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateMsSerial]
(
@SERIALID VarChar(50),
@SERIALDESC NVarChar(510),
@REMARK VarChar(250),
@SERIALLENGTH Int,
@STARTNUM Int,
@ENDNUM Int,
@CURRENTNUM Int,
@MODUSRID VarChar(50),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsSerial]
SET
SERIALDESC = @SERIALDESC,
REMARK = @REMARK,
SERIALLENGTH = @SERIALLENGTH,
STARTNUM = @STARTNUM,
ENDNUM = @ENDNUM,
CURRENTNUM = @CURRENTNUM,
TSMOD = getdate(),
MODUSRID = @MODUSRID,
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[SERIALID] = @SERIALID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateMsUser]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateMsUser]
(
@MODULEID VarChar(5),
@USERID VarChar(10),
@USERROLEID VarChar(20),
@AREA VarChar(4),
@FULLNAME VarChar(100),
@EMAIL VarChar(100),
@INFO1 VarChar(100),
@INFO2 VarChar(100),
@INFO3 VarChar(100),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsUser]
SET
FULLNAME = @FULLNAME,
EMAIL = @EMAIL,
INFO1 = @INFO1,
INFO2 = @INFO2,
INFO3 = @INFO3,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[MODULEID] = @MODULEID
AND [USERID] = @USERID
AND [USERROLEID] = @USERROLEID
AND [AREA] = @AREA

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateMsUserRole]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateMsUserRole]
(
@MODULEID VarChar(5),
@USERROLEID VarChar(20),
@USERROLEDESC VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[MsUserRole]
SET
MODULEID = @MODULEID,
USERROLEDESC = @USERROLEDESC,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[USERROLEID] = @USERROLEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateOrder]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateOrder]
(
@ORDERID Int,
@CUSTOMERID NVarChar(10),
@EMPLOYEEID Int,
@ORDERDATE DateTime,
@SHIPNAME NVarChar(80),
@SHIPADDRESS NVarChar(120),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Order]
SET
CUSTOMERID = @CUSTOMERID,
EMPLOYEEID = @EMPLOYEEID,
ORDERDATE = @ORDERDATE,
SHIPNAME = @SHIPNAME,
SHIPADDRESS = @SHIPADDRESS,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[ORDERID] = @ORDERID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateProvince]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateProvince]
(
@PROVINCEID Int,
@COUNTRYID NVarChar(10),
@PROVINCENAME NVarChar(510),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[Province]
SET
COUNTRYID = @COUNTRYID,
PROVINCENAME = @PROVINCENAME,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[PROVINCEID] = @PROVINCEID

END


GO
/****** Object:  StoredProcedure [dbo].[up_UpdateTEMP]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[up_UpdateTEMP]
(
@ID Int,
@NAME VarChar(50),
@MODUSRID VarChar(20),
@ACTIVEFLAG Char(1)
)
WITH EXECUTE AS CALLER
AS
BEGIN

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

UPDATE [dbo].[TEMP]
SET
NAME = @NAME,
MODUSRID = @MODUSRID,
TSMOD = getdate(),
ACTIVEFLAG = @ACTIVEFLAG
WHERE
[ID] = @ID

END


GO
/****** Object:  StoredProcedure [dbo].[usp_RetrieveTEMPTest]    Script Date: 6/1/2018 3:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_RetrieveTEMPTest]  
  
@ID int  
  
AS  
  
SET NOCOUNT ON  
SELECT  
  [ID]  
 , [NAME]  
 , [CRTUSRID]  
 , [TSCRT]  
 , [MODUSRID]  
 , [TSMOD]  
 , [ACTIVEFLAG]  
FROM [dbo].[TEMP]  
WHERE ActiveFlag = 'Y'  
AND [ID] = @ID  
  
  
  
  

GO
USE [master]
GO
